{% if action == "release" %}
  <form
    method="POST"
    action="/{{ pokemon }}/release"
    data-enhanced="form-{{ pokemon }}">
    <input
      type="hidden"
      name="origin"
      value="{{ origin }}">
    <button type="submit">
      <img src="/assets/pokeball-icon.svg" alt="Release {{ pokemon }}">
      <span aria-hidden="true">⭐</span>
      <span aria-hidden="true">⭐</span>
      <span aria-hidden="true">⭐</span>
    </button>
  </form>

{% else %}
  <form
    method="POST"
    action="/{{ pokemon }}/catch"
    data-enhanced="form-{{ pokemon }}">
    <input
      type="hidden"
      name="origin"
      value="{{ origin }}">
    <button type="submit">
      <img src="/assets/caught-pokemon.svg" alt="Catch {{ pokemon }}">
      <span aria-hidden="true">⭐</span>
      <span aria-hidden="true">⭐</span>
      <span aria-hidden="true">⭐</span>
    </button>
  </form>
{% endif %}