{% assign title = pokemon.name | capitalize %}

{% render 'partials/head.liquid'
  , title: title %}

<body class="{{ pokemon.data.types[0].type.name }}">
  <header>
    <a href="/"><img
        src="/assets/logo.webp"
        alt=""
        width="360"></a>
    <p class="pokemon-id">{{ pokemon.data.id | prepend: '000' | slice: -3, 3 }}</p>
    <img
      src="{{ pokemon.data.sprites.other.official-artwork.front_default }}"
      alt=""
      width="200">
  </header>
<h1>{{ pokemon.name | capitalize }}</h1>

<img src="{{ pokemon.data.sprites.other.official-artwork.front_default }}" alt="">

<section>
  <h2>About</h2>
  <dl>
    <dt>Name:</dt>
    <dd>{{ pokemon.name | capitalize }}</dd>
    <dt>ID:</dt>
    <dd>{{ pokemon.data.id | prepend: '000' | slice: -3, 3 }}</dd>
    <dt>Base XP:</dt>
    <dd>{{ pokemon.data.base_experience }}</dd>
    <dt>Weight:</dt>
    <dd>{{ pokemon.data.weight | divided_by: 10 }}kg</dd>
    <dt>Height:</dt>
    <dd>{{ pokemon.data.height | divided_by: 10 }}m</dd>
    <dt>Type:</dt>
    <dd>{{ pokemon.data.types[0].type.name | capitalize }} {{ pokemon.data.types[1].type.name | capitalize }}</dd>
    <dt>Abilities:</dt>
    <dd>{{ pokemon.data.abilities[0].ability.name | capitalize }}, {{ pokemon.data.abilities[1].ability.name | capitalize }}</dd>
  </dl>
</section>

<section>
  <h2>Stats</h2>
  <dl>
    <dt>{{ pokemon.data.stats[0].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[0].base_stat }}</dd>
    <dt>{{ pokemon.data.stats[1].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[1].base_stat }}</dd>
    <dt>{{ pokemon.data.stats[2].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[2].base_stat }}</dd>
    <dt>{{ pokemon.data.stats[3].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[3].base_stat }}</dd>
    <dt>{{ pokemon.data.stats[4].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[4].base_stat }}</dd>
    <dt>{{ pokemon.data.stats[5].stat.name | capitalize }}</dt>
    <dd>{{ pokemon.data.stats[5].base_stat }}</dd>
  </dl>
</section>

<h2>Evolutions</h2>
<ul>
  <li></li>
</ul>
</body>

{% render 'partials/foot.liquid' %}