{% assign title = pokemon.name | capitalize %}

{% render 'partials/head.liquid'
  , title: title %}

<body class="{{ pokemon.data.types[0].type.name }} pokeball-bg">
  <header>
    <a href="/"><img
        src="/assets/logo.webp"
        alt=""
        width="360"></a>
    <p class="pokemon-id">{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</p>
    <img
      src="{{ pokemon.data.sprites.other.official-artwork.front_default }}"
      alt=""
      width="200"
      style="view-transition-name: {{ pokemon.name }}">
  </header>


  <main class="tab-container">
    <h1>{{ pokemon.name | capitalize }}</h1>

    <ul class="tab-links">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#stats">Stats</a>
      </li>
      <li>
        <a href="#evolutions">Evolutions</a>
      </li>
    </ul>

    <section class="tab" id="about">
      {% comment %} <h2>About</h2> {% endcomment %}
      <dl class="grid-dl">
        <dt>Name</dt>
        <dd>{{ pokemon.name | capitalize }}</dd>
        <dt>ID</dt>
        <dd>{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</dd>
        <dt>Base XP</dt>
        <dd>{{ pokemon.data.base_experience }}</dd>
        <dt>Weight</dt>
        <dd>{{ pokemon.data.weight | divided_by: 10 }}kg</dd>
        <dt>Height</dt>
        <dd>{{ pokemon.data.height | divided_by: 10 }}m</dd>
        <dt>Type</dt>
        <dd>{{ pokemon.data.types[0].type.name | capitalize }} {{ pokemon.data.types[1].type.name | capitalize }}</dd>
        <dt>Abilities</dt>
        <dd>{{ pokemon.data.abilities[0].ability.name | capitalize }}, {{ pokemon.data.abilities[1].ability.name | capitalize }}</dd>
      </dl>
    </section>

    <section class="tab" id="stats">
      {% comment %} <h2>Stats</h2> {% endcomment %}
      <dl class="grid-dl">
        {% for stat in pokemon.data.stats %}
          <dt>{{ stat.stat.name | capitalize }}</dt>
          <dd>{{ stat.base_stat }}</dd>
        {% endfor %}
      </dl>
    </section>

    <section class="tab" id="evolutions">
      {% comment %} <h2>Evolutions</h2> {% endcomment %}
      {% if evolution %}
        <ul class="list-evolutions">
          {% comment %} Base evolution {% endcomment %}
          <li>
            <img
              src="{{ pokemon.data.sprites.other.official-artwork.front_default }}"
              alt=""
              height="100"
              class="{{ pokemon.data.types[0].type.name }}">
            <p class="pokemon-id">{{ pokemon.data.id }}</p>
            <a href="/{{ evolution.chain.species.name }}">{{ evolution.chain.species.name | capitalize }}</a>
          </li>

          {% comment %} First stage evolutions {% endcomment %}
          {% for evolution in evolution.chain.evolves_to %}
            <li>
              {% comment %} a {{ evolution.species.name }} b {% endcomment %}
              {% comment %} {% assign name = evolution.species.name %} {% endcomment %}
              {% comment %} {% assign pokemon = allPokemon | find: "name", evolution.species.name %} {% endcomment %}
              {% comment %} {{ pokemon | json | default: "notfound" }} {% endcomment %}

              <img
                src="{{ pokemon.data.sprites.other.official-artwork.front_default }}"
                alt=""
                height="100"
                class="{{ pokemon.data.types[0].type.name }}">
              <p class="pokemon-id">{{ pokemon.data.id }}</p>
              <a href="/{{ evolution.chain.species.name }}">{{ evolution.species.name | capitalize }}</a>
            </li>
          {% endfor %}

          {% comment %} Second stage evolutions {% endcomment %}
          {% for evolution in evolution.chain.evolves_to.0.evolves_to %}
            <li>
              <img
                src="{{ pokemon.data.sprites.other.official-artwork.front_default }}"
                alt=""
                height="100"
                class="{{ pokemon.data.types[0].type.name }}">
              <p class="pokemon-id">{{ pokemon.data.id }}</p>
              <a href="/{{ evolution.chain.species.name }}">{{ evolution.species.name | capitalize }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </section>
  </main>
</body>

{% render 'partials/foot.liquid' %}