{% assign title = pokemon.name | capitalize %}

{% render 'partials/head.liquid'
  , title: title %}

<body class="{{ pokemon.data.types[0].type.name }} pokeball-bg">
  <header>
    <a href="/"><img
        src="/assets/logo.webp"
        alt="Home"
        width="360"></a>
    <div>
      <p class="pokemon-id">{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</p>
      <img
        src="{{ pokemon.data.sprite }}"
        alt=""
        width="200"
        style="view-transition-name: {{ pokemon.name }}">
    </div>
  </header>


  <main class="tab-container">
    <h1>{{ pokemon.name | capitalize }}</h1>

    <ul class="tab-links">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#stats">Stats</a>
      </li>
      <li>
        <a href="#evolutions">Evolutions</a>
      </li>
    </ul>

    <section class="tab" id="about">
      {% comment %} <h2>About</h2> {% endcomment %}
      <dl class="grid-dl">
        <dt>Name</dt>
        <dd>{{ pokemon.name | capitalize }}</dd>
        <dt>ID</dt>
        <dd>{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</dd>
        <dt>Base XP</dt>
        <dd>{{ pokemon.data.baseXP }}</dd>
        <dt>Weight</dt>
        <dd>{{ pokemon.data.weight | divided_by: 10 }}kg</dd>
        <dt>Height</dt>
        <dd>{{ pokemon.data.height | divided_by: 10 }}m</dd>
        <dt>Type</dt>
        <dd>
          <span class="type {{ pokemon.data.types[0].type.name }}">{{ pokemon.data.types[0].type.name | capitalize }}</span>

          {% if pokemon.data.types[1].type.name %}
            <span class="type {{ pokemon.data.types[1].type.name }}">{{ pokemon.data.types[1].type.name | capitalize }}</span>
          {% endif %}
        </dd>
        <dt>Abilities</dt>
        <dd>{{ pokemon.data.abilities[0].ability.name | capitalize }}, {{ pokemon.data.abilities[1].ability.name | capitalize }}</dd>
      </dl>
    </section>

    <section class="tab" id="stats">
      {% comment %} <h2>Stats</h2> {% endcomment %}
      <dl class="grid-dl">
        {% for stat in pokemon.data.stats %}
          <dt>{{ stat.stat.name | capitalize }}</dt>
          <dd>{{ stat.base_stat }}</dd>
        {% endfor %}
      </dl>
    </section>

    <section class="tab" id="evolutions">
      <ul class="list-evolutions">
        {% for evolution in evolutions %}
          <li>
            <img
              src="{{ evolution.data.sprite }}"
              alt=""
              height="100"
              class="{{ evolution.data.types[0].type.name }}">
            <p class="pokemon-id">{{ evolution.data.id | prepend: '0000' | slice: -4, 4 }}</p>
            <a href="/{{ evolution.name }}">{{ evolution.name | capitalize }}</a>
          </li>
        {% else %}
          <li>
            <img
              src="{{ pokemon.data.sprite }}"
              alt=""
              height="100"
              class="{{ pokemon.data.types[0].type.name }}">
            <p class="pokemon-id">{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</p>
            <a href="/{{ pokemon.name }}">{{ pokemon.name | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</body>

{% render 'partials/foot.liquid' %}