{% assign title = pokemon.name | capitalize %}

{% render 'partials/head.liquid'
  , title: title %}

<body class="{{ pokemon.data.types[0].type.name }} pokeball-bg">
  <header>
    <a href="/"><img
        src="/assets/logo.webp"
        alt="Home"
        width="360"></a>

    <div>
      {% render 'partials/form.liquid'
        , pokemon: pokemon
        , favorites: favorites %}

      <p class="pokemon-id">{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</p>
      <img
        src="{{ pokemon.data.sprite }}"
        alt=""
        width="200"
        style="view-transition-name: {{ pokemon.name }}">
    </div>
  </header>


  <main class="tab-container">
    <h1>{{ pokemon.name | capitalize }}</h1>

    <ul class="tab-links">
      <li>
        <a href="#about">About</a>
      </li>
      <li>
        <a href="#stats">Stats</a>
      </li>
      <li>
        <a href="#evolutions">Evolutions</a>
      </li>
    </ul>

    <section class="tab" id="about">
      {% comment %} <h2>About</h2> {% endcomment %}
      <dl class="grid-dl bg-alternate">
        <dt>Name</dt>
        <dd>{{ pokemon.name | capitalize }}</dd>
        <dt>ID</dt>
        <dd>{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</dd>
        <dt>Base XP</dt>
        <dd>{{ pokemon.data.baseXP }}</dd>
        <dt>Weight</dt>
        <dd>{{ pokemon.data.weight | divided_by: 10 }}kg</dd>
        <dt>Height</dt>
        <dd>{{ pokemon.data.height | divided_by: 10 }}m</dd>
        <dt>Type</dt>
        <dd>
          <span class="type {{ pokemon.data.types[0].type.name }}">{{ pokemon.data.types[0].type.name | capitalize }}</span>

          {% if pokemon.data.types[1].type.name %}
            <span class="type {{ pokemon.data.types[1].type.name }}">{{ pokemon.data.types[1].type.name | capitalize }}</span>
          {% endif %}
        </dd>
        <dt>Abilities</dt>
        <dd>{{ pokemon.data.abilities[0].ability.name | capitalize -}}
          {%- if pokemon.data.abilities[1] -%}
            , {{ pokemon.data.abilities[1].ability.name | capitalize -}}{%- endif -%}
          {%- if pokemon.data.abilities[2] -%}
            , {{ pokemon.data.abilities[2].ability.name | capitalize -}}{%- endif -%}
        </dd>
      </dl>
    </section>

    <section class="tab" id="stats">
      {% comment %} <h2>Stats</h2> {% endcomment %}
      <dl class="grid-dl">
        {% for stat in pokemon.data.stats %}
          <dt>{{ stat.stat.name | capitalize }}</dt>
          <dd>{{ stat.base_stat }}</dd>
          <meter
            value="{{ stat.base_stat }}"
            min="0"
            max="255"></meter>
        {% endfor %}
      </dl>
    </section>

    <section class="tab" id="evolutions">
      <ul class="list-evolutions">
        {% for evolution in evolutions %}
          <li class="card">
            <img
              src="{{ evolution.data.sprite }}"
              alt=""
              height="100"
              class="{{ evolution.data.types[0].type.name }}">
            <p class="pokemon-id">{{ evolution.data.id | prepend: '0000' | slice: -4, 4 }}</p>
            <a href="/{{ evolution.name }}">{{ evolution.name | capitalize }}</a>
          </li>
        {% else %}
          <li class="card">
            <img
              src="{{ pokemon.data.sprite }}"
              alt=""
              height="100"
              class="{{ pokemon.data.types[0].type.name }}">
            <p class="pokemon-id">{{ pokemon.data.id | prepend: '0000' | slice: -4, 4 }}</p>
            <a href="/{{ pokemon.name }}">{{ pokemon.name | capitalize }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
</body>
{% render 'partials/foot.liquid' %}

<script>
  const pokemon = {{ pokemon | json }};
  let favPokemon = {{ favorites | json }};
  
  function generateForm(pokemon, state) {
    let form = document.createElement('form');
    let button = document.createElement('button');
    let icon = document.createElement('img');
  
    form.setAttribute('method', "POST");
    form.setAttribute('data-enhanced', `form-${pokemon.name}`);
  
    button.setAttribute('type', 'submit');
  
    if (state == "caught") {
      form.setAttribute('action', `/${pokemon.name}/release`);
      icon.setAttribute('src', '/assets/pokeball-icon.svg');
    } else {
      form.setAttribute('action', `/${pokemon.name}/catch`);
      icon.setAttribute('src', '/assets/caught-pokemon.svg');
    }
  
    for(let i = 0; i < 3; i++) {
     let span = document.createElement('span');
     span.innerHTML = "â­";
     button.append(span);
    }
  
    button.appendChild(icon);
    form.appendChild(button);
  
    return form;
  }
</script>

<script>
  document.addEventListener('submit', async function (event) {
    let form = event.target;
  
    if (!form.hasAttribute('data-enhanced')) {
      return;
    }
  
    event.preventDefault();
    form.classList.add('loading');
  
    let formData = new FormData(form);
  
    if (event.submitter) {
        formData.append(event.submitter.name, event.submitter.value);
    }
  
    const response = await fetch(form.action, {
      method: form.method,
      body: new URLSearchParams(formData)
    })
  
    const responseText = await response.text();
    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseText, 'text/html');
    let newState = "";
  
    try { 
      newState = responseDOM.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]');
      form.outerHTML = newState.outerHTML;
    } catch {
      const action = form.getAttribute('action');
        
      const actionSplit = action.split("/");
      const state = actionSplit[2];
  
      console.log(actionSplit);
  
      if (state == "catch") {
        newState = generateForm(pokemon, "caught");
      } else {
        newState = generateForm(pokemon, "empty");
      }
  
      form.outerHTML = newState.outerHTML;
    }
    
    const newForm = document.querySelector('[data-enhanced="' + form.getAttribute('data-enhanced') + '"]');
    newForm.classList.add('animation-success');
  })
</script>