{% layout "layouts/overview.liquid"
  , title: "All Pokémon"
  , page: "all" %}

{% block content %}
  <main>
    <ul class="grid-dex">
      {% for pokemon in allPokemon limit: 12 %}
        <li class="{{ pokemon.data.types[0].type.name }} pokeball-bg card">
          <a href="/{{ pokemon.name }}">{{ pokemon.name | capitalize }}</a>

          {% if favorites contains pokemon.name %}
            {% render 'partials/form.liquid'
              , pokemon: pokemon.name
              , origin: ''
              , action: "release" %}
          {% else %}
            {% render 'partials/form.liquid'
              , pokemon: pokemon.name
              , origin: ''
              , action: "catch" %}
          {% endif %}

          <img
            src="{{ pokemon.data.sprite }}"
            alt=""
            style="view-transition-name: {{ pokemon.name }}"
            loading="lazy"
            height="175">
        </li>
      {% endfor %}
    </ul>
  </main>

  <nav class="button-load-more">
    <a href="/page/{{ pageID | default: 1 | minus: 1 | at_least: 1 }}" class="previous">Previous</a>
    <a href="/page/{{ pageID | default: 1 | plus: 1 }}" class="next">Next</a>
  </nav>
</body>

{% render 'partials/foot.liquid' %}

<script>
  let previousButton = document.querySelector('.button-load-more .previous');
  previousButton.remove();
  
  let button = document.querySelector('.button-load-more .next');
  let dex = document.querySelector('.grid-dex');
  
  button.innerHTML = "Load more";
  
  button.addEventListener('click', async function (event) {
    event.preventDefault();
    const response = await fetch(this.getAttribute('href'));
    const responseText = await response.text();
    const parser = new DOMParser();
    const responseDOM = parser.parseFromString(responseText, 'text/html');
  
    const newElements = responseDOM.querySelectorAll('.grid-dex li');
    newElements.forEach(element => {
      dex.appendChild(element);
    })
  
    const newLink = responseDOM.querySelector('.button-load-more .next');
    button.setAttribute('href', newLink.getAttribute('href'));
  });
</script>{% endblock %}